/* .dot-spinner {
    --uib-size: 2.3rem;
    --uib-speed: .9s;
    --uib-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
  }
  
  .dot-spinner__dot {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  
  .dot-spinner__dot::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  }
  
  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }
  
  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }
  
  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }
  
  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }
  
  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }
  
  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }
  
  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }
  
  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }
  
  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }
  
  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }
  
  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }
  
  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }
  
  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }
  
  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }
  
    50% {
      transform: scale(1);
      opacity: 1;
    }
  } */

  /* From Uiverse.io by AbanoubMagdy1 */ 
/* From Uiverse.io by alexruix */ 
.loader {
  --ballcolor: #f2f2f2;
  --shadow: 0px 0 #ffffff00;
  --shadowcolor: #ffffff00;
  width: 10px;
  height: 10px;
  left: -120px;
  border-radius: 50%;
  position: relative;
  color: var(--ballcolor);
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  
  0% {
    box-shadow: var(--shadow),
        var(--shadow),
        var(--shadow),
        var(--shadow);
  }

  12% {
    box-shadow: 100px 0 var(--ballcolor),
        var(--shadow),
        var(--shadow), 
        var(--shadow);
  }

  25% {
    box-shadow: 110px 0 var(--ballcolor),
        100px 0 var(--ballcolor),
        var(--shadow), 
        var(--shadow);
  }

  36% {
    box-shadow: 120px 0 var(--ballcolor), 
        110px 0 var(--ballcolor), 
        100px 0 var(--ballcolor), 
         var(--shadow);
  }

  50% {
    box-shadow: 130px 0 var(--ballcolor),
        120px 0 var(--ballcolor),
        110px 0 var(--ballcolor),
        100px 0 var(--ballcolor);
  }

  62% {
    box-shadow: 200px 0 var(--shadowcolor),
         130px 0 var(--ballcolor), 
         120px 0 var(--ballcolor), 
         110px 0 var(--ballcolor);
  }

  75% {
    box-shadow: 200px 0 var(--shadowcolor),
        200px 0 var(--shadowcolor),
        130px 0 var(--ballcolor), 
        120px 0 var(--ballcolor);
  }

  87% {
    box-shadow: 200px 0 var(--shadowcolor), 
        200px 0 var(--shadowcolor), 
        200px 0 var(--shadowcolor), 
        130px 0 var(--ballcolor);
  }

  100% {
    box-shadow: 200px 0 var(--shadowcolor), 
        200px 0 var(--shadowcolor),
        200px 0 var(--shadowcolor),
        200px 0 var(--shadowcolor);
  }
}