@import "tailwindcss";
/* @plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json"; */

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

:root {
  /* cores principais */
  --corPrincipal: #FFA000;
  --corPrincipalHover: rgb(255, 167, 95);
  

  /* bases */
  --base-color: #f2f1f3;
  --base-variant: #fff;

  /* menu */
  --sidebarcolor: #232738;
  --sidebarsecondarycolor: #343851;
  --sidebartext-color: #878787;

  /* menu - hovers */
  --sidebarhover-color: #FFA000;
  --sidebarhover-text-color: #ffffff;

  /* textos */
  --text-color: #2a2f47f2;
  --text-color2: #232738;
  --text-white: #fcfdff;

  /* Fundo Modal */
  --fundo-modal: var(--base-color);
}

.darkmode {
  /* cores principais */
    --corPrincipal: #FFA000;
  --corPrincipalHover: rgb(250, 123, 20);

  /* bases */
  --base-color: #111528;
  --base-variant: #232738;

  

  /* menu */
  --sidebarcolor: #232738;
  --sidebarsecondarycolor: #343851;
  --sidebartext-color: #878787;
  /* menu - hovers */
  --sidebarhover-color: #FFA000;
  --sidebarhover-text-color: #ffffff;

  /* textos */
  --text-color: #e8e9ed;
  --secondary-text: #e8e9ed;
  --corTexto1: #fcfdff;

  /* Fundo Modal */
  --fundo-modal: var(--base-color);
  
}

html {
  font-family: Poppins, sans-serif;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}


#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#theme-switch svg {
  fill: var(--text-color);
}

 @keyframes panBackground {
        0% { background-position: center bottom; }
        50% { background-position: center center; }
        100% { background-position: center top; }
    }